<?xml version="1.0"?>
<config>
    <modules>
        <Bolfeed_Api>
            <version>0.2.0</version>
        </Bolfeed_Api>
    </modules>
    <admin>
        <routers>
            <admin_bolfeedapi>
                <use>admin</use>
                <args>
                    <module>Bolfeed_Api</module>
                    <frontName>admin_bolfeedapi</frontName>
                </args>
            </admin_bolfeedapi>
        </routers>
    </admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<bolfeed>
											<title>Bolfeed - All</title>
										</bolfeed>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
        <translate>
            <modules>
                <Bolfeed_Api>
                    <files>
                        <default>Bolfeed_Api.csv</default>
                    </files>
                </Bolfeed_Api>
            </modules>
        </translate>
	</adminhtml>
    <global>
        <models>
            <easyads_api>
                <class>Bolfeed_Api_Model</class>
            </easyads_api>
        </models>
        <blocks>
            <easyads_api>
                <class>Bolfeed_Api_Block</class>
            </easyads_api>
        </blocks>
        <helpers>
            <easyads_api>
                <class>Bolfeed_Api_Helper</class>
            </easyads_api>
        </helpers>
    </global>
</config>